@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@100;300;400;500;600;700;800;900&display=swap");

div.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Open Sans", sans-serif;
  font-size: 1.2em;
  color: var(#111);
}

.bt{
  position: relative;
  display: inline-block;
  vertical-align: middle;
  padding: 0;
  font-weight: bold;

  overflow: hidden;

  border-width: 0;
  outline: none;
  box-shadow: 0 1px 4px rgba(0, 0, 0, .6);
  
  min-width: 2em;
  text-align: center;
  border-radius: 2px;
  padding: 6px 8px;
  /*border: 1px solid #111;*/
}

.bt:hover, .bt:focus {
  background-image: linear-gradient(rgb(0 0 0/40%) 0 0);
}


b.red{
  color: red;
}

b.green{
  color: green;
}

b.blue{
  color: blue;
}
