@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@100;300;400;500;600;700;800;900&display=swap");

div.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Open Sans", sans-serif;
  color: var(#111);
}

.key{
  min-width: 1em;
  display: inline-block;
  text-align: center;
  border-radius: 5px;
  padding: 1px 3px;
  border: 1px solid #111;
}

.key.r{
  background: red;
  color: white;
  border: 1px solid #611;
}
.key.g{
  background: green;
  color: white;
  border: 1px solid #161;
}
.key.b{
  background: blue;
  color: white;
  border: 1px solid #116;
}

